.header {
  height: 3rem;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(#0A0708, 0.5);
  color: white;
  z-index: 90;

  .headerLeft {
    width: 40%;

    .headerLogo {
      height: 3rem;
      width: 3rem;
      background-color: black;
    }
  }

  .playButton {
    text-align: center;
    width: 20%;
    padding: 0 3rem;

    a {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background-color: #0aaad6;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-image: linear-gradient(to top, rgba(white, 0.5), transparent, transparent);
      }
    }
  }

  .headerRight {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    div {
      width: 8rem;
      position: relative;
      transition: all 0.5;
      border-left: 1px solid white;
      background-color: rgba(#0A0708, 0.5);

      a {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 1rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-image: linear-gradient(to top, rgba(white, 0.5), transparent, transparent);
        }
      }

      p {
        text-align: center;
        position: relative;
      }
    }
  }
}

.main {
  background-color: rgba(#121212, 0.9);
  width: 100vw;
  min-height: 100vh;
}

.notificationContainer {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: -10;
  justify-content: center;
  align-items: center;

  .blurBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#0A0708, 0.5);
  }

  .notificationBox {
    position: absolute;
    font-size: 4rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: white;
    background-color: rgba(#0A0708, 0.8);
    border: #0aaad6 solid 0.1rem;
    height: fit-content;
    width: fit-content;
  }

  &.active {
    visibility: visible;
    z-index: 90;
  }
}